body{
    height: 100%;
    width: 100%;
    background-color: #f2e0d5;
    font-family: "Noto Serif", serif;
}
header{
    position: fixed;
    top:0px;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    background-color: #456173;
    font-size: 1.5rem;
}
.voltar{
    position: fixed;
    padding: 1.5%;
    height: 8%;
}
.pesquisar{
    padding-top:-1.5rem ;
    padding-inline: 10%;
    height: 7rem;
    width: 16rem;
}


footer {
    display: flex;
    position: fixed;
    bottom: 0rem;
    justify-content: space-evenly;
    height: 10%;
    width: 100%;
    background-color: #456173;

}

footer img {
    display: flex;
    height: 100%;
    width: 100%;
}
main{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;
    padding-top: 25%;
    padding-bottom: 20%;
    background-color:#f2e0d5 ;
}
.g{
    width: 4rem;
}

li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    width: 11rem;
    height: 11rem;
    background-color: #BF7c63;
}

.T3{
    width: 25rem;
    
    margin-right: 20%;
    margin-left: 20%;
    height: 3rem;
    font-size: 3rem;
    background-color: #456173;
    font-family: "Poppins", sans-serif;
    padding: 0.5rem;
}
ul{
    display: flex;
}
.fornecedor{
    display: flex;
    background-color: #BF7c63;
    flex-direction: column;
    width: 70%;
    margin: 0.5rem;
    padding: 0.5rem;
}
h1{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    padding: 1rem;
    
}