body,html{ 
    height: 100%;
    width: 100%;
    background-color: #f2e0d5;
    font-family: "Noto Serif", serif;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #456173;
    height: 10%;
    width: 100%;
    padding-right: 20%;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5%;
    margin-left: 5%;
}

main p{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5%;
    width: 200%;
    height: 80%;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}
a:link, a:visited{
    text-decoration: none;
    color: black;
}

.voltar{
    height: 3rem;
    padding-left: 5rem;
}

.pesquisa{
    width: 100%;
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

ul img{
    width: 30%;
    height: 30%;
}

.img_a{
    width: 50%;
    height: 50%;
}
