body{ 
    height: 100%;
    width: 100%;
    background-color: #f2e0d5;
}

header{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #456173;
    height: 10%;
    width: 100%;
}

a{
    display: flex;
    height: 80%;
    width: 20%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40% 7.2%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 7.2%;
    height: 40%;
    bottom: 0;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.voltar{
    width: 80%;
    height: 100%;
    margin-left: 20%;
}

.vaso{
    width: 7rem;
    height: 7rem;
}

h1{
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.legenda{
    background-color: #456173;
    width: 100%;
    height: 4rem;
}

.tabela{
    background-color: #bf7c63;
    width: 100%;
    height: 110%;
    padding-bottom: 5%;
}

.grafico{
    width: 100%;
    height:80%;
    background-color: #bf7c63
}

li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 3% 0%;
}

p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    font-size: 1.6rem;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ajuste{
    width: 70%;
    margin-top: 5%;
}
